*, *::before, *::after {
    box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}
#root {
  background-color: black;
}
header {
  width: 375px;
  height: 600px;
}
.headerBackground {
  background-image: url('src/static/Bitmap.svg'); 
  background-repeat: no-repeat; 
  background-size: cover;
  position: relative;
}
.headerTop {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 32px;
  height: 58px;
}
.headerItems {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 24px;
}
.headerDivider {
  border: 1px solid #FFFFFF;
  opacity: 10.4%;
  margin-bottom: 108px;
}
.headerHeadline {
  font-family: Manrope;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 10px;
  text-align: center;
  color: #FFFFFF;
  opacity: 49.64%;
}



.posAbs {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-inline: auto;
}