*, *::before, *::after {
    box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}
a {text-decoration: none; color: inherit;}

.headerBackground {
  display: grid;
  justify-content: center;
  justify-items: center;
  margin-bottom: 40px;
  width: 100%;
  height: 600px;
  background-color: #141414;
}
.headerBackground img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  content: url('./static/Bitmap.svg');
  
}
.headerTop {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 58px;
  position: absolute;
  top: 0px;
  gap: 108px;
  width: 375px;
}

.headerItems {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 24px;
  margin: 32px 0px;
}
.leftSection {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 76px;
}
.headerDivider {
  border: 1px solid #FFFFFF;
  opacity: 10.4%;
}
.headerTexts {
  width: 328px;
  margin-inline: auto;
}
.headerHeadline h3 {
  font-family: Manrope;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 10px;
  text-align: center;
  margin-inline: auto;
  color: #FFFFFF;
  opacity: 49.64%;
}
.headerHeadline h1 {
  text-align: center;
  margin-inline: auto;
  font-family: Manrope;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 1.2857142686843872px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 16px;
}
.headerHeadline>p {
  text-align: center;
  margin-inline: auto;
  font-family: Manrope;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: center;
  opacity: 75%;
  color: #FFFFFF;
  margin-top: 24px;
}
.headerButton {
  width: 160px;
  height: 48px;
  text-align: center;
  margin-inline: auto;
  margin-top: 28px;
}
.headerButton p {
  font-size: 12px;
}
.hamburgerIcon {
  cursor: pointer;
  position: relative;
  z-index: 2;
}
.headerCart {
  cursor: pointer;
}
.containerWrapper {
  display: grid;
  justify-content: center;
}
.selectionContent {
  display: grid;
  justify-items: center;
  gap: 16px;
  margin-bottom: 120px;
}
.selectionProduct {
  width: 327px;
  height: 217px;
  position: relative;

}
.selectionSVG {
  position: relative;
  top: 52px;
}
.selectionImages {
  display: grid;
  justify-items: center;
  position: absolute;
  top: 0;
  width: 100%;
}
.selectionImages>img {
  height: 104px;
}
.selectionTexts {
  position: absolute;
  top: 88px;
  display: grid;
  gap: 17px;
  width: 100%;
}
.selectionTexts h5 {
text-align: center;
}
.ovalPlace {
  position: absolute;
  top: 42px;
}
.navOn {
  position: fixed;
  z-index: 2;
  height: 750px;
  top: 90px;
  width: 375px;
  overflow: auto;
  left: 0;
  right: 0;
  margin-inline: auto;
}
.navOn .selectionContent {
  height: 750px;
  gap: 0px;
}
.productsContainer{
  display: grid;
  gap: 24px;
  margin-bottom: 120px;
}
.bigSpeaker {
  position: relative;
  display: grid;
  justify-items: center;
}
.bigSpeaker>img {
  content: url('./static/main-zx9mobil.svg');

}
.bigSpeaker-content {
  width: 100%;
  position: absolute;
  display: grid;
  gap: 32px;
  padding-top: 55px;
}
.bigSpeakerImg {
  display: flex;
  justify-content: center;
  height: 207px;
  width: 172.25px;
  margin-inline: auto;
}
.bigSpeakerImg>img {
  width: 100%;
  height: 100%;
}
.bigSpeakerText {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 280px;
  margin-inline: auto;
}
.bigSpeakerText>h5 {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  /* or 111% */
  text-align: center;
  letter-spacing: 1.28571px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.bigSpeakerText>p {
font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 25px;
text-align: center;
color: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.75;
}
.bigSpeakerButton {
width: 160px;
bottom: 55px;
margin-inline: auto;
}

.smallCards {
  position: relative;
  height: 320px;
}
.smallCardsImg {
  position: absolute;
}
.smallCardsImg>img {
  width: 327px;
  height: 320px;
  object-fit: cover;
  border-radius: 8px;
}
.smallCardsTexts {
  position: absolute;
  top: 101px;
  left: 24px;
}
.smallCardsButton {
position: absolute;
bottom: 101px;
left: 25.5px;
border: 1px solid #000000;
padding: 15px 29.5px 15px 31.5px;
}

.smallCardsButton p {
margin: 0;
font-family: Manrope;
font-size: 13px;
font-weight: 700;
line-height: 17.76px;
letter-spacing: 1px;
text-align: left;
}
.smallCardsButton:hover{
  background-color: #000000;
  color: #fff;
}


.smallCardsM {
  position: relative;
  height: 424px;
  display: grid;
  gap: 24px;
}
.smallCardsImgM>img {
  width: 327px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.smallCardsTextsM {
  height: 200px;
  background-color: #F1F1F1;
  border-radius: 10px;
  position: relative;
}
.smallCardsTextsM .mH4 {
  position: absolute;
  top: 41px;
  left: 24px;
}
.smallCardsButtonM {
  position: absolute;
  bottom: 41px;
  left: 25.5px;
  border: 1px solid #000000;
  padding: 15px 29.5px 15px 31.5px;
}

.smallCardsButtonM p {
  font-family: Manrope;
  font-size: 13px;
  font-weight: 700;
  line-height: 17.76px;
  letter-spacing: 1px;
  text-align: left;  
}
.smallCardsButtonM:hover{
  background-color: #000000;
  color: #FFFFFF;
}
footer {
  display: grid;
  justify-items: center;
  justify-content: center;
}
.ad {
  margin-bottom: 120px;
  display: grid;
  justify-items: center;
  width: 327px;
}
.adImg {
  margin-bottom: 40px;
}
.adImg>img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
}
.adTextHeader {
  margin-bottom: 32px;
}
.adTextHeader .mH4 {
  text-transform: uppercase;
}
.footerMain {
  width: 375px;
  height: 654px;
  background-color: #000000;
  position: relative;
}
.footerInside {
  width: 327px;
  display: grid;
  justify-content: center;
  gap: 48px;
  margin-inline: auto;
  justify-items: center;
}
.footerRectangle {
  
  width: 101px;
  height: 4px;
  background-color: #D87D4A;
}
.footerHeader svg {
  margin-inline: auto;
}

.footerLinks {
  display: grid;
  justify-content: center;
  justify-items: center;
  gap: 16px;
}
.footerText {
  width: 327px;
}
.footerCopyAndSocials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}
.footerCopyright {
  font-family: Manrope;
font-size: 15px;
font-weight: 700;
line-height: 25px;
text-align: left;
color: #FFFFFF;
opacity: 50%;
}
.footerSocials {
  display: flex;
  gap: 16px;
  align-items: center;
}
.categoryItems {
  position: relative;
  padding-top: 90px;
}
.categoryContainer {
  display: grid;
  justify-content: center;
  gap: 64px;
  
}
.categoryHeader {
  width: 100%;
  height: 102px;
  background-color: #000000;
  display: grid;
  justify-items: center;
  align-items: center;
  margin-bottom: 64px;
}
.categoryContent {
  display: grid;
  justify-content: center;
  justify-items: center;
  gap: 32px;
}
.contentHeader {
  position: relative;
  height: 352px;
  display: grid;
  justify-items: center;
}
.headerImgBg>svg,.headerImgBg rect {
  width: 327px;
}
.contentHeader img {
  position: absolute;
  top: 41px;
}
.contentText {
  width: 327px;
  text-align: center;
  display: grid;
  justify-items: center;
  gap: 24px;
}

.contentButton {
  width: 160px;
  height: 48px;
}

.cartContainer {
  position: fixed;
  top: 90px;
  left: 0;
  right: 0;
  z-index: 2;
  margin-inline: auto;
  width: 327px;
  min-height: 488px;
  display: grid;
  align-items: center;
  padding: 32px 28px;
  align-content: space-between;
  background-color: #FFFFFF;
  border-radius: 15px;
  box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
}

.cartTop {
  display: flex;
  justify-content: space-between;
}

.cartProductsContainer {
  display: grid;
  gap: 24px;
}

.cartProducts {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.productInf {
  display: flex;
  gap: 16px;
  align-items: center;
}
.cartFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cartCheckout {
  width: 271px;
  height: 48px;
  margin-inline: auto;
}
.cartH {
  font-family: Manrope;
  font-size: 15px;
  font-weight: 700;
  line-height: 25px;
  text-align: left;
}
.cartPrice {
font-family: Manrope;
font-size: 14px;
font-weight: 700;
line-height: 25px;
text-align: left;
opacity: 50%;
}
.productInf .porductImg {
  display: flex;
  justify-content: center;
  align-items: center;
}
.productInf .porductImg img {
  position: absolute;
}
.productQty {
  display: flex;
  width: 96px;
  height: 32px;
  align-items: center;
  gap: 13px;
  justify-content: center;
  background-color: #F1F1F1;
}
.pQtyNumb {
font-family: Manrope;
font-size: 13px;
font-weight: 700;
line-height: 17.76px;
letter-spacing: 1px;
text-align: center;
}
.checkOutItems {
  background-color: #FAFAFA;
  width: 375px;
  display: grid;
  margin-inline: auto;
  padding-top: 90px;
}
.checkOutTop {
  padding: 16px 0px 0px 24px;
}

.checkOutContainer {
  display: grid;
  gap: 32px;
  margin: 24px;
  background-color: #fff;
  border-radius: 8px;
}
.cOutContentTop {
  padding: 24px 0px 0px 24px;
}
.cOutForm {
  display: grid;
  align-items: center;
  gap: 32px;
  padding: 0px 24px 24px 23px;
}
.cOutBilling, .cOutShipping, .cOutPayment {
  display: grid;
  gap: 24px;
}
.cOutFormItems {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.cOutFormItems label, .cOutPayment>label {
  font-family: Manrope;
  font-size: 12px;
  font-weight: 700;
  line-height: 16.39px;
  letter-spacing: -0.2142857164144516px;
  text-align: left;
}
.cOutFormItems input:not([type="radio"]) {
  width: 280px;
  height: 56px;
  padding: 18px 24px 19px 24px;
  border: 1px solid #CFCFCF;
  border-radius: 8px;
}
.cOutFormItems input::placeholder {
  font-family: Manrope;
  font-size: 14px;
  font-weight: 700;
  line-height: 19.12px;
  letter-spacing: -0.25px;
  text-align: left;

}
.cPayment>input[type="radio"] {
  display: none;
}
.cPayment>label {
  position: relative;
  padding: 18px 24px 19px 24px;
  width: 280px;
  height: 56px;
  border: 1px solid #CFCFCF;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  cursor: pointer;
}
.cPayment>label::before{
  content: "";
  width: 20px;
  height: 20px;
  border: 1px solid #CFCFCF;
  border-radius: 50%;
}
.cPayment>label::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  background-color: transparent;
  left: 29px;
}
.cPayment>input[type="radio"]:checked+label::after {
  background-color: #D87D4A;
}
.cPayment>input[type="radio"]:checked+label {
  width: 280px;
  height: 56px;
  padding: 18px 24px 19px 24px;
  border: 1px solid #D87D4A;
  border-radius: 8px;
}
.goBckBtn {
  padding-top: 106px;
  cursor: pointer;
}
.productDetailContainer {
  display: grid;
  justify-content: center;
  gap: 24px;
  width: 327px;
  margin-inline: auto;
  margin-bottom: 120px;
}
.productDetailTop {
  display: grid;
  gap: 32px;
}
.productDetailTexts {
  display: grid;
  gap: 24px;
}
.productDetail {
  display: grid;
  gap: 88px;
  margin-bottom: 32px;
}
.productDetail .productDetailTopImg {
  display: flex;
  justify-content: center;
  align-items: center;
}
.productDetail .productDetailTopImg img {
  position: absolute;
}
.productDetailTopImg .bckgrnd>svg , .productDetailTopImg .bckgrnd rect {
  width: 327px;
  height: 327px;
}
.productAddToCart {
  display: flex;
  gap: 8px;
  width: 296px;
}
.productFeatures {
  display: grid;
  gap: 24px;
}
.productInTheBox {
  display: grid;
  gap: 24px;

}
.inTheBox {
  display: grid;
  gap: 8px;
}
.inTheBoxItem {
  display: flex;
  gap: 24px;
  align-items: center;
}
.productDetailImg {
  display: grid;
  gap: 20px;
}
.productDetailImg>img {
  border-radius: 8px;
}
.youMayAlsoLike {
  display: grid;
  justify-items: center;
  margin-bottom: 120px;
}
.youMayAlsoLike>h5 {
  margin-bottom: 40px;
}
.ymayLikeContainer {
  display: grid;
  gap: 56px;
}
.ymayLikeContent {
  width: 327px;
  height: 265px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.ymayLikeContent .ymayLikeImg>img {
  position: absolute;
  height: 95px;
}
.ymayLikeImg {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cOutPay {
  margin-bottom: 65px;
}
.cOutSummary .cOutPay>.summaryContainer {
  margin-inline: auto;
  width: 327px;
  min-height: 488px;
  display: grid;
  align-items: center;
  padding: 32px 28px;
  align-content: space-between;
  background-color: #FFFFFF;
  border-radius: 15px;
}
.sumFooter {  
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sumFooterContent {
  margin-bottom: 24px;
}
.sumBttn {
  width: 279px;
  height: 48px;
}
.cOutModal {
  display: flex;
  justify-content: center;
}
.modals {
  position: fixed;
  z-index: 3;
  top: 224px;
  width: 327px;
  height: 600px;
  overflow: auto;
  background-color: #FFFFFF;
  border-radius: 8px;
}
.modal-content {
  background-color: #FFFFFF;
  margin-inline: auto;
  width: 100%;
  height: 100%;
  padding: 32px;
  display: grid;
  gap: 24px;
}
.modal-header-texts {
  display: grid;
  gap: 16px;
}
.modal-body {
  position: relative;
  height: 232px;
  display: grid;
  justify-items: center;
}
.modal-body-content {
  position: absolute;
  top: 24px;
  display: grid;
  gap: 12px;
}
.modal-body-product-info {
  display: flex;
  gap: 27px;
  align-items: center;
}
.modal-body-productQty {
  align-self: flex-start;
}
.modal-body-product .modal-body-productImg>img {
  width: 28px;
  height: 32px;
}
.modal-body-divider {
  border: 1px solid #000000;
  opacity: 8%;
  width: 215px;
}
.modal-body-footer {
  height: 92px;
  background: black;
  width: 100%;
  border-radius:0px 0px 8px 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  position: absolute;
  bottom: 0;
  padding-left: 24px;
}
.top-navbar {
  display: none;
}
.footerCopyrightD {
  display: none;
}
.footerSocialsD {
    display: none;
}


/* .headerBackground img {
  content: url('./static/Bitmap.svg');
} */

/* Responsive */
/* Tablet Mode */
@media (min-width: 768px ) {
  .top-navbar {
    display: none;
  }
  .headerBackground {
    height: 100%;
  }
  .headerBackground img {
    content: url('./static/BitmapTablet.svg');
  }
  .headerTop{
    width: 768px;
  }
  .headerItems {
    padding: 0px 40px;
  }
  .leftSection{
    gap: 42px;
  }
  .headerTexts{
    width: 400px;
  }
  .headerDivider {
    width: 689px;
    margin-inline: auto;
  }
  .categoryHeader{
    height: 246px;
  }
  .categoryHeader>h4 {
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 1.43px;
  }
  .headerHeadline h1 {
    font-size: 56px;
    line-height: 58px;
    letter-spacing: 2px;
    margin-top: 24px;
  }
  .headerHeadline>p {
    width: 349px;
  }
  .headerButton {
    margin-top: 40px;
  }
  .productsContainer {
    margin-bottom: 96px;
  }
  .selectionContent {
    grid-template-columns: 1fr 1fr 1fr;
    width: 689px;
    gap: 10px;
    margin-bottom: 96px;
  }
  .selectionProduct{
    width: 223px;
  }
  .bigSpeaker>img {
    content: url('./static/main-zx9tablet.svg');
  }
  
  .bigSpeaker-content {
    padding-top: 52px;
    gap: 64px;
  }
  .bigSpeakerImg {
    width: 197.21px;
    height: 237px;
  }
  .bigSpeakerText {
    width: 349px;
  }
  .bigSpeakerText>h5 {
    font-size: 56px;
    line-height: 58px;
    letter-spacing: 2px;
  }
  .bigSpeakerButton {
  width: 160px;
  bottom: 55px;
  margin-inline: auto;
  }
  .smallCardsImg>img {
    width: 100%;
  }
  .smallCardsTexts {
    left: 62px;
  }
  .smallCardsButton{
    left: 63.5px;
  }
  .smallCardsM {
    grid-template-columns: 1fr 1fr;
    gap: 11px;
    height: 320px;
  }
  .smallCardsImgM>img {
    width: 100%;
    height: 100%;
  }
  .smallCardsTextsM {
    width: 339px;
    height: 320px;
  }
  .smallCardsTextsM .mH4 {
    top: 101px;
    left: 41px;
  }
  .smallCardsTextsM .smallCardsButtonM {
    bottom: 101px;
    left: 42.5px;
  }
  .ad {
    width: 689px;
  }
  .adTexts {
    width: 573px;
  }
  .footerMain {
    width: 768px;
    height: 400px;
    background-color: #101010;
  }
  .footerInside {
    width: 689px;
    justify-content: start;
    justify-items: start;
  }
  .footerInside .footerText>p {
    text-align: left;
    width: 689px;
  }
  .footerText {
    width: 689px;
  }
  .footerLinks {
    display: flex;
    gap: 34px;
  }
  .footerCopyAndSocials {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
  .navOn {
    width: 768px;
    padding: 56px 39px 67px 40px;
    height: 340px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;
  }
  .navOn .selectionContent {
    gap: 10px;
  }
  .headerImgBg>svg,.headerImgBg rect {
  width: 100%;
  }
  .contentText {
    width: 572px;
  }
  .contentText .ls-1 {
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 1.43px;
    width: 300px;
  }
  .productDetailContainer {
    width: 689px;
  }
  .productDetailTop {
    justify-items: start;
    grid-template-columns: 1fr 1fr;
  }
  .productDetailTopImg .bckgrnd>svg , .productDetailTopImg .bckgrnd rect {
    width: 281px;
    height: 480px;
  }
  .productDetail .productDetailTopImg img {
    width: 181px;
    height: 215px;
    object-fit: contain;
  }
  .productDetail-Texts-Cart{
    width: 339px;
    height: 390px;
    padding-top: 45px;
  }
  .productDetailTexts {
    margin-bottom: 31px;
  }
  .productInTheBox {
    grid-template-columns: 1fr 1fr;
  }
  .productDetailImg {
    grid-template-columns: 277px 395px;
    column-gap: 18px;
    row-gap: 20px;
  }
  .productDetailImg img:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 277px;
    height: 174px;
  }
  .productDetailImg img:nth-child(2) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    width: 277px;
    height: 174px;
  }
  .productDetailImg img:nth-child(3) {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    width: 395px;
    height: 368px;
  }
  .youMayAlsoLike {
    width: 691px;
    margin-inline: auto;
  }
  .ymayLikeContainer{
    grid-template-columns: 1fr 1fr 1fr;
    gap: 11px;
  }
  .ymayLikeContent {
    width: 223px;
    height: 471px;
  }
  .grayBG svg, .grayBG svg rect {
    width: 223px;
    height: 318px;
  }
  .ymayLikeContent .ymayLikeImg>img {
    width: 148.31px;
    height: 193px;
  }
  .cartContainer {
    margin-inline: auto 40px;
    width: 377px;
    top: 114px;
    padding: 31px 31px 31px 33px;
  }
  .cartCheckout {
    width: 313px;
  }
  .checkOutItems {
    width: 768px;
    padding-top: 138px;
  }
  .checkOutTop {
    padding: 16px 0px 0px 39px;
  }
  .checkOutContainer, .cOutSummary {
    margin-left: 39px;
    margin-right: 40px;
  }
  .cOutBilling, .cOutShipping {
    grid-template-columns: 1fr 1fr;
  }
  .cOutBilling h5, .cOutShipping h5, .cOutPayment h5 {
    grid-column: 1/3;
  }
  .cOutShipping div:nth-child(2) {
    grid-column: 1/3;
  }
  .cOutShipping div:nth-child(2) input {
    width: 100%;
  }
  .cOutPayment div:nth-of-type(2) {
    grid-column: 2/3;
  }
  .cOutSummary .cOutPay>.summaryContainer {
    width: 100%;
    gap: 31.5px;
  }
  .sumFooter {
    margin-bottom: 8px;
  }
  .sumBttn {
    width: 100%;
  }
  .modals {
    height: 581px;
    min-height: 581px;
    width: 540px;
  }
  .modal-body{
    height: 140px;
    width: 444px;
    grid-template-columns: 246px 198px;
  }
  .modal-body svg {
    width: 246px;
    height: 140px;
    grid-column: 1/2;
  }
  .modal-body-content {
    grid-column: 1/2;
  }
  .modal-body-footer {
    grid-column: 2/3;
    height: 140px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 0px;
  }
  .footerCopyrightD {
    display: none;
  }
  .footerSocialsD {
      display: none;
  }
}

/* Desktop */
@media (min-width: 1440px ) {
  .headerBackground {
    width: 100%;
  }
  .headerBackground img {
    content: url('./static/BitmapDesktop.svg');
  }
  .headerTop{
    width: 1110px;
  }
  .headerDivider{
    width: 100%;
  }
  .headerItems{
    padding: 0px;
  }
  .hamburgerIcon{
    display: none;
  }
  .top-navbar{
    display: flex;
    gap: 34px;
  }
  .leftSection{
    width: unset;
  }
  .headerTexts{
    margin-inline: unset;
  }
  .headerHeadline h3, .headerHeadline h1, .headerHeadline>p {
    text-align: left;
  }
  .headerHeadline>p {
    margin-inline: unset;
  }
  .headerButton{
    margin-inline: unset;
  }
  .selectionContent{
    width: 1110px;
  }
  .selectionProduct{
    width: 350px;
    height: 284px;
  }
  .selectionSVG{
    top: 80px;
  }
  .ovalPlace{
    top: 90px;
  }
  .selectionProduct .selectionSVG>svg, .selectionProduct .selectionSVG>svg rect {
    width: 350px;
    height: 204px;
  }
  .selectionImages>img {
    height: 160px;
    width: 122.95px;
    object-fit: contain;
  }
  .selectionTexts{
    top: 116px;
  }
  .selectionTexts .selectionHeaders{
    font-size: 18px;
    line-height: 24.59px;
    letter-spacing: 1.29px;
  }
  .bigSpeaker>img {
    content: url(/src/static/main-zx9pc.svg);
  }
  .bigSpeaker-content {
    padding-top: 96px;
    grid-template-columns: 410px 349px;
    justify-content: space-evenly;
    gap: 0%;
  }
  .bigSpeakerImg{
    width: 410px;
    height: 100%;
  }
  .bigSpeakerText {
    padding-top: 37px;
  }
  .bigSpeakerText h5, .bigSpeakerText>p {
    text-align: left;
  }
  .bigSpeakerText>p {
    margin-bottom: 16px;
  }
  .bigSpeakerButton{
    margin-inline: unset;
  }
  .smallCardsTexts{
    left: 95px;
  }
  .smallCardsButton{
    left: 96.5px;
  }
  .smallCardsImgM>img {
    width: 540px;
    height: 320px;
  }
  .smallCardsTextsM {
    width: 540px;
  }
  .smallCardsTextsM .mH4 {
    left: 95px;
  }
  .smallCardsTextsM .smallCardsButtonM {
    left: 96.5px;
  }
  .ad{
    grid-template-columns: 445px 540px;
    width: 1110px;
    justify-content: space-between;
    align-items: center;
  }
  .ad .adImg{
    grid-column: 2 / 3;
  }
  .ad .adTexts{
    width: 445px;
    grid-column: 1 / 2;
    grid-row: 1;
  }
  .adImg>img {
    width: 540px;
    height: 588px;
  }
  .adTextHeader .mH4 {
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 1.43px;
  } 
  .adTextHeader .tac {
    text-align: left;
  }
  .adTextP>p {
    text-align: left;
  }
  .footerMain {
    width: 1440px;
    height: 365px;
  }
  .footerInside{
    width: 1110px;
    grid-template-columns: 1fr 1fr;
    gap: 0%;
  }
  .footerRectangle{
    grid-column: 1/3;
    margin-bottom: 71px;
  }
  .footerHeader{
    margin-bottom: 36px;
  }
  .footerLinks {
    width: 100%;
    justify-content: flex-end;
  }
  .footerText{
    width: 540px;
    margin-bottom: 56px;
  }
  .footerInside .footerText>p {
    width: 540px;
  }
  .footerCopyAndSocials{
    display: none;
  }
  .footerCopyrightD {
    font-family: Manrope;
    font-size: 15px;
    font-weight: 700;
    line-height: 25px;
    text-align: left;
    color: #FFFFFF;
    opacity: 50%;
    display: block;
  }
  .footerSocialsD {
      display: flex;
      width: 100%;
      gap: 16px;
      align-items: flex-end;
      justify-content: flex-end;
  }
  .productDetailContainer {
    width: 1110px;
  }
  .productDetail{
    grid-template-columns: 1fr 1fr;
    gap: 0%;
    row-gap: 160px;
  }
  .productDetailTop {
    grid-column: 1/3;
    gap: 124.5px;
  }
  .productDetailTopImg .bckgrnd>svg, .productDetailTopImg .bckgrnd rect {
    width: 540px;
    height: 560px;
  }
  .productDetail .productDetailTopImg img {
    width: 349px;
    height: 386px;
    object-fit: contain;
  }
  .productDetail-Texts-Cart{
    width: 445.5px;
  }
  .productDetailTexts .productHeadline .mH4 {
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 1.43px;
  }
  .productFeatures{
    width: 635px;
    margin-right: 125px;
  }
  .productDetailImg{
    grid-column: 1/3;
  }
  .productInTheBox{
    height: 225px;
    width: 350px;
    grid-template-columns: none;
    justify-items: center;
    align-items: start;
  }
  .featuresH5{
    width: 100%;
  }
  .inTheBox{
    width: 100%;
  }
  .productDetailImg {
    grid-template-columns: 445px 635px;
  }
  .productDetailImg img:nth-child(1) {
    width: 445px;
    height: 280px;
  }
  .productDetailImg img:nth-child(2) {
    width: 445px;
    height: 280px;
  }
  .productDetailImg img:nth-child(3) {
    width: 635px;
    height: 592px;
  }
  .youMayAlsoLike {
    width: 1110px;
  }
  .youMayAlsoLike h5 {
    text-align: center;
  }
  .ymayLikeContainer{
    gap: 30px;
  }
  .ymayLikeContent{
    width: 350px;
    height: 471px;
  }
  .grayBG svg, .grayBG svg rect {
    width: 350px;
    height: 318px;
  }
  .cartContainer {
    margin-inline: auto 165px;
  }
  .checkOutItems{
    grid-template-columns: 1fr 1fr;
    width: 1110px;
    column-gap: 30px;
    row-gap: 38px;
    background-color: #F1F1F1;
  }
  .checkOutTop{
    grid-column: 1 / 3;
    padding: 0%;
  }
  .checkOutContainer{
    width: 730px;
    margin: 0px;
    margin-bottom: 141px;
  }
  .checkOutContainer, .cOutSummary {
     margin-left: 0px;
     margin-right: 0px;
  }
  .cOutSummary{
    width: 350px;
    min-height: 612px;
  }
  .checkOutWrapper {
    background-color: #F1F1F1;
  }
  .cOutModal{
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
  }
  .modal-content{
    padding: 48px;
  }
}


























/* Backdrop */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1; /* Make sure the backdrop is below the cart */
}

/* ortak cssler */
.button3 {
  display: flex;
  flex-direction: row;
  gap: 13.32px;
  align-items: center;
  justify-content: center;
}

.posAbs {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-inline: auto;
}

.mH1 {
  font-family: Manrope;
  font-size: 56px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 2px;
}
.mH2 {
  font-family: Manrope;
  font-size: 40px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 1.4285714626312256px;
}
.mH3 {
  font-family: Manrope;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 1.1428571939468384px;
}
.mH4{
  font-family: Manrope;
  font-size: 28px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.mH5 {
  font-family: Manrope;
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 1.7142857313156128px;
  text-transform: uppercase;

}
.mH6 {
  font-family: Manrope;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 1.2857142686843872px;
}
.mOverline {
  font-family: Manrope;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 10px;
}
.mSubTitle {
  font-family: Manrope;
  font-size: 13px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0.9285714030265808px;
}
.mBody {
  font-family: Manrope;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
  opacity: 50%;
  text-align: center;
}

.mButton1 {
  font-family: Manrope;
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 1px;
  background-color: #D87D4A;
  padding: 15px 0px;
  color: #FFFFFF;
}
.mButton1:hover {
  background-color: #FBAF85;
}
.selectionHeaders {
  font-family: Manrope;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 1.0714285373687744px;
  text-align: center;
  color: #000000;
}
.smryNumb {
  font-family: Manrope;
  font-size: 15px;
  font-weight: 700;
  line-height: 25px;
  opacity: 50%;
}
.modalH1 {
  font-family: Manrope;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.8571428656578064px;
  text-align: left;
}
.modalSub {
  font-family: Manrope;
  font-size: 12px;
  font-weight: 700;
  line-height: 16.39px;
  letter-spacing: -0.2142857164144516px;
  text-align: left;
}
.mButton3 {
  font-family: Manrope;
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 1px;
  text-align: left;
  opacity: 50%;
  color: #000000;
}
.mButton3:hover {
  opacity: 100%;
  color: #D87D4A;

}
.featuresH5 {
  font-family: Manrope;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.8571428656578064px;
  text-align: left;
}
.underline {
  text-decoration: underline;
  color: #000;
  opacity: 50%;
}
.mb32{
  margin-bottom: 32px;
}
.mb24 {
  margin-bottom: 24px;
}
.mb25 {
  margin-bottom: 25px;
}
.mt15 {
  margin-top: 15px;

}
.tac {
  text-align: center;
}
.tal {
  text-align: left;
}
.bg-black {
  background-color: #000000;
}
.bg-white {
  background-color: #FFFFFF;
}
.ls-1 {
  letter-spacing: 1px;
}
.ls-2 {
  letter-spacing: 2px;
}
.txtWhite {
  color: #FFFFFF;
}
.txtOrange {
  color: #D87D4A;
  display: inline;
}
.none {
  display: none;
}
.gap0 {
  gap: 0px;

}
.h90 {
  height: 90px;
  position: fixed;
  width: 100%;
  z-index: 100;
}
.op25 {
  opacity: 25%;
}
.op50 {
  opacity: 50%;
}
.top90 {
  top: 90px;
}
.fs15 {
  font-size: 15px;
}
.spcevenly {
  justify-content: space-evenly;
}
.w120h48 {
  width: 120px;
  height: 48px;
}
.w160h48 {
  width: 160px;
  height: 48px;
}
.aic {
  align-items: center;
}