*, *::before, *::after {
    box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}
a {text-decoration: none; color: inherit;}
header {
  max-width: 375px;
  height: 600px;
}
.headerBackground {
  background-image: url('src/static/Bitmap.svg'); 
  background-repeat: no-repeat; 
  background-size: cover;
  position: relative;
}
.headerTop {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 58px;
}
.headerItems {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 24px;
  margin: 32px 0px;
}
.headerDivider {
  border: 1px solid #FFFFFF;
  opacity: 10.4%;
}
.headerTexts {
  width: 328px;
  margin-inline: auto;
  margin-top: 108px;
}
.headerHeadline h3 {
  font-family: Manrope;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 10px;
  text-align: center;
  margin-inline: auto;
  color: #FFFFFF;
  opacity: 49.64%;
}
.headerHeadline h1 {
  text-align: center;
  margin-inline: auto;
  font-family: Manrope;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 1.2857142686843872px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 16px;
}
.headerHeadline>p {
  text-align: center;
  margin-inline: auto;
  font-family: Manrope;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: center;
  opacity: 75%;
  color: #FFFFFF;
  margin-top: 24px;
}
.headerButton {
  width: 160px;
  height: 48px;
  text-align: center;
  margin-inline: auto;
  margin-top: 28px;
}
.headerButton p {
  font-size: 12px;
}
.goesBlack {
  background-color: #000000;
  opacity: 40%;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
}
.containerWrapper {
  display: grid;
  justify-content: center;
}
.selectionContent {
  display: grid;
  justify-items: center;
  gap: 68px;
}
.selectionProduct {
  /* background-image: url('src/assets/productselection/Mask.svg');
  background-repeat: no-repeat; */
  width: 327px;
  height: 165px;

}
.selectionSVG {
  position: relative;
  top: 92px;
}
.selectionImages {
  display: grid;
  justify-items: center;
  position: relative;
  top: -122px;
}
.selectionTexts {
  position: relative;
  bottom: 187px;
  display: grid;
  gap: 17px;
}
.selectionTexts h5 {
text-align: center;
}
.ovalPlace {
  position: relative;
  bottom: 54px;
}
.navOn {
  position: relative;
  z-index: 2;
}
.navOn .selectionContent {
  height: 750px;
  gap: 0px;
}
.navOn .selectionContent .selectionProduct .selectionImages {
  top: -150px;
}
.navOn .selectionContent .selectionProduct .selectionTexts {
  bottom: 229px;
}
.navOn .selectionContent .selectionProduct .selectionSVG {
  top: 50px;
}
.bigProduct {
  margin-top: 229px;
  margin-bottom: 24px;
}

.bigSpeaker {
  position: relative;
  display: grid;
  justify-items: center;
}
.bigSpeakerText {
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: absolute;
  height: 80px;
  left: 7.03%;
  right: 7.34%;
  top: 294px;
}
.bigSpeakerText h5 {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  /* or 111% */
  text-align: center;
  letter-spacing: 1.28571px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.bigSpeakerText p {
font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 25px;
text-align: center;
color: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.75;
}
.bigSpeakerButton {
position: absolute;
width: 160px;
bottom: 55px;
}
.bigSpeakerAbs {
  position: absolute;
  left: 23.69%;
  right: 23.63%;
  top: 9.17%;
  bottom: 56.33%;
}
.smallCards {
  position: relative;
  height: 320px;
  margin-bottom: 24px;
}
.smallCardsImg {
  position: absolute;
}
.smallCardsTexts {
  position: absolute;
  top: 101px;
  left: 24px;
}
.smallCardsButton {
position: absolute;
bottom: 101px;
left: 25.5px;
border: 1px solid #000000;
padding: 15px 29.5px 15px 31.5px;
}

.smallCardsButton p {
margin: 0;
font-family: Manrope;
font-size: 13px;
font-weight: 700;
line-height: 17.76px;
letter-spacing: 1px;
text-align: left;
}
.smallCardsButton:hover{
  background-color: #000000;
}
.smallCardsButton p:hover {
  color: #FFFFFF;
}

.smallCardsM {
  position: relative;
  height: 424px;
  display: grid;
  gap: 24px;
  margin-bottom: 120px;
}

.smallCardsTextsM {
  height: 200px;
  background-color: #F1F1F1;
  border-radius: 10px;
  position: relative;
}
.smallCardsTextsM .mH4 {
  position: absolute;
  top: 41px;
  left: 24px;
}
.smallCardsButtonM {
  position: absolute;
  bottom: 41px;
  left: 25.5px;
  border: 1px solid #000000;
  padding: 15px 29.5px 15px 31.5px;
}

.smallCardsButtonM p {
  font-family: Manrope;
  font-size: 13px;
  font-weight: 700;
  line-height: 17.76px;
  letter-spacing: 1px;
  text-align: left;  
}
.smallCardsButtonM:hover{
  background-color: #000000;
}
.smallCardsButtonM p:hover {
  color: #FFFFFF;
}
footer {
  display: grid;
  justify-items: center;
  justify-content: center;
}
.ad {
  margin-bottom: 120px;
  display: grid;
  justify-items: center;
  width: 327px;
}
.adImg {
  margin-bottom: 40px;
}
.adTextHeader {
  margin-bottom: 32px;
}
.adTextHeader .mH4 {
  text-transform: uppercase;
}
.footerMain {
  width: 375px;
  height: 654px;
  background-color: #000000;
  position: relative;
  display: flex;
  gap: 48px;
  flex-direction: column;
}
.footerInside {
  width: 327px;
  display: grid;
  justify-content: center;
  gap: 48px;
  margin-inline: auto;
  justify-items: center;
}
.footerRectangle {
  
  width: 101px;
  height: 4px;
  background-color: #D87D4A;
}
.footerHeader svg {
  margin-inline: auto;
}

.footerLinks {
  display: grid;
  justify-content: center;
  justify-items: center;
  gap: 16px;
}
.footerText {
  width: 327px;
}
.footerCopyright {
  font-family: Manrope;
font-size: 15px;
font-weight: 700;
line-height: 25px;
text-align: left;
color: #FFFFFF;
opacity: 50%;
}
.footerSocials {
  display: flex;
  gap: 16px;
  align-items: center;
}
.categoryContainer {
  margin-bottom: 120px;
  display: grid;
  justify-content: center;
  gap: 64px;
  
}
.categoryHeader {
  width: 100%;
  height: 102px;
  background-color: #000000;
  display: grid;
  justify-items: center;
  align-items: center;
  margin-bottom: 64px;
}
.categoryContent {
  display: grid;
  justify-content: center;
  justify-items: center;
  gap: 32px;
}
.contentHeader {
  position: relative;
  height: 352px;
  display: grid;
  justify-items: center;
}
.contentHeader img {
  position: absolute;
  top: 41px;
}
.contentText {
  width: 327px;
  text-align: center;
  display: grid;
  justify-items: center;
  gap: 24px;
}

.contentButton {
  width: 160px;
  height: 48px;
}











.button3 {
  display: flex;
  flex-direction: row;
  gap: 13.32px;
  align-items: center;
  justify-content: center;
}


.posAbs {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-inline: auto;
}

.mH1 {
  font-family: Manrope;
  font-size: 56px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 2px;
}
.mH2 {
  font-family: Manrope;
  font-size: 40px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 1.4285714626312256px;
}
.mH3 {
  font-family: Manrope;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 1.1428571939468384px;
}
.mH4{
  font-family: Manrope;
  font-size: 28px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 2px;
}
.mH5 {
  font-family: Manrope;
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 1.7142857313156128px;
}
.mH6 {
  font-family: Manrope;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 1.2857142686843872px;
}
.mOverline {
  font-family: Manrope;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 10px;
}
.mSubTitle {
  font-family: Manrope;
  font-size: 13px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0.9285714030265808px;
}
.mBody {
  font-family: Manrope;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
  opacity: 50%;
  text-align: center;
}

.mButton1 {
  font-family: Manrope;
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 1px;
  background-color: #D87D4A;
  padding: 15px 0px;
  color: #FFFFFF;
}
.mButton1:hover {
  background-color: #FBAF85;
}
.selectionHeaders {
  font-family: Manrope;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 1.0714285373687744px;
  text-align: center;
  color: #000000;
}
.mButton3 {
  font-family: Manrope;
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 1px;
  text-align: left;
  opacity: 50%;
  color: #000000;
}
.mButton3:hover {
  opacity: 100%;
  color: #D87D4A;

}

.mt15 {
  margin-top: 15px;

}
.tac {
  text-align: center;
}

.bg-black {
  background-color: #000000;
}
.bg-white {
  background-color: #FFFFFF;
}
.ls-1 {
  letter-spacing: 1px;
}
.ls-2 {
  letter-spacing: 2px;
}
.txtWhite {
  color: #FFFFFF;
}
.txtOrange {
  color: #D87D4A;
  display: inline;
}
.none {
  display: none;
}
.h90 {
  height: 90px;
}